/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* root */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

/*  */

body{
    background-color: #0093E9;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    font-family: 'Poppins',sans-serif;
    height: 100vh;    
}

.auth{
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    padding: 2rem;
    border-radius: .5rem;
}

.auth h1{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid silver;
}

.auth form{
    margin: 1rem;
}

.auth input{
    width: 100%;
    margin-top: 2rem;
    height: 4rem;
    font-size: 1.4rem;
    border: none;
    border-bottom: .15rem solid rgb(163,163,163);
    padding: 0 0.5rem;
    outline: none;
}

.auth input:hover{
    border-bottom: .15rem solid #0086da;
}

.auth input::placeholder{
    color:rgb(163,163,163);
}
